/* $Id$ */

#wrapper-front{
width:953px;
margin:0 auto;
bottom: 40px;
position: relative
}

#preface-wrapper-front {
width:953px;
margin:0 auto;
bottom: 45px;
position: relative
}

#wrapper{
width:953px;
margin: 0 auto;
}

#preface-wrapper {
width:953px;
margin: 0 auto;
}

#content-front {
width: 99%;
float: left;
}

#content {
width: 99%;
float: left;
}

#bottom-wrapper-front h2, #bottom-wrapper h2, #preface-wrapper-front h2, #preface-wrapper h2 {
font-size: 1.3em;
margin-bottom: -5px;
margin-top: 10px;
}

#bottom-wrapper-front .content, #bottom-wrapper .content, #preface-wrapper-front .content, #preface-wrapper .content{
padding-bottom: 10px;
}

#preface-wrapper-front .column {
  float: left;
}
#preface-wrapper-front.in1 .column {
width: 96%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}
#preface-wrapper-front.in2 .column {
width: 46.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}
#preface-wrapper-front.in3 .column {
width: 30%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper .column {
float: left;
}
#preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}
#preface-wrapper.in2 .column {
width: 46.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}
#preface-wrapper.in3 .column {
width: 30%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottom-wrapper-front.in1 .column {
width: 95%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;

}
#bottom-wrapper-front.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}
#bottom-wrapper-front.in3 .column {
width: 30.1%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}
#bottom-wrapper-front.in4 .column {
width: 22%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}

#bottom-wrapper.in1 .column {
width: 95%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}
#bottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 15px;
}
#bottom-wrapper.in3 .column {
width: 30.1%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}
#bottom-wrapper.in4 .column {
width: 22%;
margin-right: 1%;
margin-left: 1%;
padding-top: 15px;
padding-bottom: 20px;
}


.content-top, .content-middle, .content-bottom {
padding-bottom: 10px;
}

.content-top{
margin: .5em 0 2em; /* LTR */
padding-left: 1.2em;
padding-right: 1.2em;
padding-top: .1em;
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;;
}

.content-bottom{
margin: 0.5em 0 2em; /* LTR */
padding-left: 1.2em;
padding-right: 1.2em;
padding-top: .1em;
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;;
}

.content-top h2, .content-middle h2, .content-bottom h2, .content-top .content, .content-middle .content, .content-bottom .content {
margin-top: 20px;
}