/* $Id$ */

body {
background:url(images/body-bg.gif) repeat-x #fff;
font-size: 84%;
font-family: Arial, Helvetica, sans-serif;
color: #000;
margin: 0;
padding: 0;
line-height: 1.5em;
}

tr.odd td, tr.even td {
padding: 0.5em;
}

a {
text-decoration: none;
}

a:link {
color: #005a8c;/*#e87e17*/
text-decoration: none;
}

a:visited {
color: #005a8c;/*#e87e17*/
text-decoration: none;
}

a:hover {
color:#cc6600;
}

h1 {
font-size: 1.6em;
}

h2 {
font-size: 1.5em;
  
}

h3 {
font-size: 1.3em;
}

h4 {
font-size: 1.2em;
}

h5 {
font-size: 1.1em;
}

h6 {
font-size: 1em;
}

ul.links li.first {
border: none;
}


#header {
height: 66px;
position: relative;
width: 953px;
margin: 0 auto;
}

#header-wrapper {

}

#header-first {
float: left;
}

.logo {
padding-top: 10px;
padding-left: 15px;
}

#header-middle {
float: left;
padding-top: 25px;
}

.logo-name {
display: inline; 
font-weight: bold;
font-size: 25px;
padding-left: 15px;
position: relative;
font-family: Verdana, Tahoma;
font-style: italic;
}

.logo-text {
display: inline;                       
font-weight: bold;
position: relative;
padding-left: 10px;
font-family: Verdana, Tahoma;
}

#header-wrapper #search-box {
margin: 4px 14px;
position: absolute;
right: 0;
top: 30px;
white-space: nowrap;
}

#header-wrapper .search_submit {
cursor: pointer;
padding: 0 6px;
text-indent: -999em;
}

#header-wrapper #search-box #search input.form-text {
border: 1px solid #D5D5D5;
width: 10em;
}


#menu {
height: 35px;
background:url(images/menu-bg.gif) repeat-x;
width:953px;
margin: 0 auto;
}

#nav {
height: 35px;
background:url(images/menu-bg.gif) repeat-x;
float:left;
}

#nav li {
float:left;
background:url(images/menu-sap.gif) no-repeat right top;
height:35px;
padding:0 3px 0 0;
}

#nav li a{
color:#fff;
text-decoration:none;
font-size:12px;
padding:7px 29px 0 29px;
display:inline-block;
font-weight:bold;
height:25px;
text-transform:uppercase;
}

#nav li a:hover {
background:transparent url(images/menu-hover.gif) repeat-x;

}

#nav li.active-trail a
{
background:transparent url(images/menu-hover.gif) repeat-x;

}

#rounded-menu-left {
height: 35px;
background:transparent url(images/home-hover.gif) no-repeat;
float:left;
width:1px;
line-height:0;
font-size:0;
}

#rounded-menu-right {
height: 35px;
background:url(images/menu-right-bg.gif) no-repeat;
float:right;
width:10px;
line-height:0;
font-size:0;
}

#banner{
width:100%;
background: transparent url(images/banner-outer-bg.gif) no-repeat center top;
height:420px;
margin:14px 0 0 0;
}

.banner-inner{
width:950px;
margin:0 auto;
height:355px;
padding: 0 3px 0 0;
position:relative;
z-index:1;
background: url(images/sea.jpg) no-repeat;
}

#preface {
padding: 20px;
font-size:1.2em;
color:#fff;
display:block;
float:left;
}

#preface a {
color:#fff;
text-decoration:underline;
}

#preface a:hover {
text-decoration:none;
}

#banner-bottom{
width:950px;
float:left;
background:url(images/banner-bottom-bg.png) no-repeat;
height:65px;
position:absolute;
bottom:0;
left:0;
text-align:right;
z-index:2;
}

#preface-wrapper-front {
width:953px;
margin:0 auto;
bottom: 50px;
position: relative;
}

.center {
margin: 0 auto;
text-align: left;
width: 953px;
}

#preface-wrapper-front .column {
  float: left;
}
#preface-wrapper-front.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
}
#preface-wrapper-front.in2 .column {
width: 46.65%;
margin-right: 1%;
margin-left: 1%;
}
#preface-wrapper-front.in3 .column {
width: 31.1%;
margin-right: 1%;
margin-left: 1%;
}

#preface-wrapper {
width:953px;
margin: 0 auto;
padding-top: 5px;
}

#preface-wrapper .column {
float: left;
}
#preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
}
#preface-wrapper.in2 .column {
width: 46.65%;
margin-right: 1%;
margin-left: 1%;
}
#preface-wrapper.in3 .column {
width: 31.1%;
margin-right: 1%;
margin-left: 1%;
}

#mission {
padding: 20px;
font-size:1.6em;
color:#002054;
display:block;
float:right;
}

#wrapper-front {
width:953px;
margin:0 auto;
bottom: 50px;
position: relative
}

#wrapper {
width:953px;
margin: 0 auto;
}

#container {
margin: 0 auto;
width: 99%;

}

#content-front {
width: 99%;
float: left;
padding-top: 8px;
}

#content {
width: 99%;
float: left;
padding-top: 15px;
}

#sidebar-side-1 #sidebar-left {
width: 26%;
float: left;
margin-right: 2%;
margin-bottom: 15px	
}

#sidebar-side-2 #sidebar-left {
width: 21%;
float: left;
margin-right: 2%;
margin-bottom: 15px	
}

.sidebars-1 #content-front{
width: 68%;
padding-left: 25px;
float: left;
}

.sidebars-1 #content{
width: 68%;
padding-left: 25px;
float: left;
}

.sidebars-2 #content-front{
width: 54%;
float: left;
}

.sidebars-2 #content{
width: 54%;
float: left;
}

#sidebar-side-1 #sidebar-right {
width: 26%;
float: right;
margin-bottom: 15px;	      
}

#sidebar-side-2 #sidebar-right {
width: 21%;
float: right;
margin-bottom: 15px;	      
}

#sidebar-left h2, #sidebar-right h2 {
background: #e6e6e6;
padding-top: 4px;
padding-bottom: 4px;
font-size: 1.3em;
padding-left: 15px;
padding-right: 15px;
border-bottom: 1px solid #bbb;
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
}

#bottom-1 h2, #bottom-2 h2, #bottom-3 h2, #bottom-4 h2 {
padding-top: 4px;
padding-bottom: 4px;
font-size: 1.3em;
margin-bottom: -5px;
}

#sidebar-left .block .content, #sidebar-right .block .content{
background: #f4f4f4;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

#bottom-1 .block .content, #bottom-2 .block .content, #bottom-3 .block .content, #bottom-4 .block .content  {

}

#sidebar-left .block, #sidebar-right .block{
background: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
}

#bottom-1 .block ,#bottom-2 .block ,#bottom-3 .block ,#bottom-4 .block   {
}

.submitted {
font-size: 0.9em;
color: #999;
}

.submitted a:hover {
text-decoration: underline;
}

#help {
font-size: 0.9em;
margin-bottom: 1em;
}

.breadcrumb {
margin-bottom: .5em;
}

.messages {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.3em;
margin-bottom: 1em;
}

.breadcrumb {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding-top: 0.3em;
padding-bottom: 0.3em;
margin-bottom: 1em;
padding-left: 10px;
padding-right: 10px;
}

.error {
border-color: red;
}

.title, .title a {
margin: 0 auto;  /* decrease default margins for h<x>.title */

}

.node {
margin: .5em 0 1em; /* LTR */
padding-bottom: 1em;
border-bottom: 1px solid #bbb;
}

.content-top{
margin: .5em 0 2em; /* LTR */
padding-left: 1.2em;
padding-right: 1.2em;
padding-top: .1em;
padding-bottom: .5em;
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;;
}

.content-bottom {
margin: 1.5em 0 1em; /* LTR */
padding-left: 1.2em;
padding-right: 1.2em;
padding-top: .1em;
padding-bottom: .5em;
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;;
}

.feed-item-meta .feed-item-source {
font-size: 0.9em;
}

.feed-item-meta .feed-item-date {
font-size: 0.9em;
color: #999;
}

.sticky {
padding: 1em;
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
}

.node .content, .comment .content {
margin: .5em 0 .5em;
}

.node .taxonomy {
color: #999;
font-size: 0.9em;
padding-left: 1em; /* LTR */
 }

.node .picture {
border: 1px solid #bbb;
float: right; /* LTR */
margin: 0.5em;
}

.comment {
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 1em;
margin-bottom: 1em;
padding-bottom: 1em;
background-color: #f4f4f4;
}

.comment .title a {
}

.comment .new {
text-align: right; /* LTR */
font-weight: normal;
float: right; /* LTR */
color: red;
}

.comment .picture {
float: right; /* LTR */
margin: 0.5em;
}

.feed-item-body {
border-bottom: 1px solid #bbb;
padding-bottom: 1em;
}

#aggregator .feed-source {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.8em;
}

#aggregator h1 .title{
border-bottom: 1px solid #bbb;
}

#aggregator h2 {
padding-top: 10px;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
color: #999;
font-style: italic;
  	
}

#aggregator h3 {
 }

#aggregator h3 a:hover {
text-decoration: none;
}

#forum {
padding-bottom: 20px;
}

#forum table {
width: 100%;
}

#forum td {
padding: 0.5em;
border: 1px solid #bbb;
}

#forum td.forum, #forum td.posts {
background-color: #f4f4f4;
}

#forum td.topics, #forum td.last-reply {
background-color: #f4f4f4;
}

#forum td.container {
background-color: #e6e6e6;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
height: 1em;
border: 1px solid #bbb;
}

#forum td .links {
padding-top: 0.7em;
}

#tracker {
padding-bottom: 20px;
}

#tracker table {
width: 100%;
}

#tracker td {
padding: 0.5em;
}


.profile {
clear: both;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: .8em;
margin: 1em 0em;
background-color: #f4f4f4;;
}

.profile dl {
padding-top: 10px;
}

.block-forum h3 {
margin-bottom: .5em;
}

div.admin-panel .body {
background: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
}

div.admin-panel h3 {
background-color: #e6e6e6;;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 5px 8px 5px;
margin: 0;
}

dl dd {
margin: 0 0 .5em 1em;
}

.poll .bar {
background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
border: solid #f0f0f0;
border-width: 1px 1px 1px;
}

.poll .bar .foreground {
background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

ul {
margin: 0.5em 0 1em;
padding: 0;
}

ol {
margin: 0.75em 0 1.25em;
padding: 0;
}

ol li, ul li {
margin: 0.4em 0 0.4em .5em; 

}

ul.menu, .item-list ul {
margin: 0.35em 0 0 -0.5em; 
padding: 0;
}

ul.menu ul, .item-list ul ul {
margin-left: 0em; 
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
margin: 0.15em 0 0.15em .5em; 
}

ul li, ul.menu li, .item-list ul li, li.leaf {
padding: 0 0 .2em 1.5em;
list-style-type: none;
list-style-image: none;
background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; 
}

ol li {
padding: 0 0 .3em;
margin-left: 2em; 
}

ul li.expanded {
background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; 
}

ul li.collapsed {
background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em; 
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0; 
}

ol.task-list {
margin-left: 0; 
list-style-type: none;
list-style-image: none;
}
ol.task-list li {
padding: 0.5em 1em 0.5em 2em; 
}
ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%; 
}
ol.task-list li.done {
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; 
}
ol.task-list li.active {
margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
margin: 0;
padding: 0;
background-image: none;
}

#user-login-form {
text-align: center;
}
#user-login-form ul {
text-align: left; /* LTR */
}

ul.links li, ul.inline li {
background-image: none;
}

.links li {
margin: 0;
padding: 0;

}

.tabs li {
margin: 0;
padding: 0;
background-image: none;
}

div.links ul.links a {
background-repeat: no-repeat;
padding-left: 18px;
padding-bottom: 5px;
}

div.links ul.links li.comment_add a {
background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_comments a {
background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_edit a {
background-image: url(images/mini-edit.png);
}

div.links ul.links li.comment_delete a {
background-image: url(images/mini-trash.png);
}

div.links ul.links li.comment_reply a {
background-image: url(images/mini-comment.png);
}

div.links ul.links li.node_read_more a {
background-image: url(images/arrow-single-right-green.png);
}

div.links ul.links li.blog_usernames_blog a {
background-image: url(images/user-plain-green.png);
}

div.links ul.links li.comment_forbidden a {
padding-left: 0px;
}

div.links ul.links li.upload_attachments a {
background-image: url(images/photo.png);
}

.terms {
background-repeat: no-repeat;
padding-left: 18px;
padding-bottom: 5px;
}

.book-navigation .menu {
padding-bottom: 15px;
}

.preview .node, .preview .comment{
background-color: #f4f4f4;;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.8em;
}

div.admin {
padding-top: 0; /* fix alignment of admin panel */
}

/* keep admin columns from dropping under */
div.admin .left,
div.admin .right {
margin-left: 1%;
margin-right: 1%;
}

#authorize { 
float: right;
padding-top: 5px;
}

#authorize ul { 
margin: 10px 0 0 5px; 
padding: 0; 
display: inline;
}

#authorize ul li { 
margin: 0 10px 0 0; 
padding: 0 0 0 10px; 
display: inline; 
list-style: none;  
border-left: 1px #5a5a5a solid;
background-image: none;
}

#authorize ul li.first { 
border: 0;
}

#authorize ul li, #authorize ul li a { 
font-size: 12px; 
line-height: 13px; 
}

#authorize a.feed-icon { 
padding-right: 20px;
}

#bottom-wrapper-front {
background-color: #f4f4f4;;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
margin: 0 auto;
text-align: left;
width: 953px;
position: relative;
bottom: 30px;
}

#bottom-wrapper-front .column {
  float: left;
padding-bottom: 13px;
}
#bottom-wrapper-front.in1 .column {
width: 96%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper-front.in2 .column {
width: 45.65%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper-front.in3 .column {
width: 30.1%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper-front.in4 .column {
width: 22%;
margin-right: 1.5%;
margin-left: 1.5%;
}

#bottom-wrapper {
background-color: #f4f4f4;;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
margin: 0 auto;
text-align: left;
width: 953px;
}

#bottom-wrapper .column {
  float: left;
padding-bottom: 13px;
}
#bottom-wrapper.in1 .column {
width: 96%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper.in3 .column {
width: 30.1%;
margin-right: 1.5%;
margin-left: 1.5%;
}
#bottom-wrapper.in4 .column {
width: 22%;
margin-right: 1.5%;
margin-left: 1.5%;
}

#footer-wrapper-front {
width: 953px;
margin: 0 auto;
position: relative;
bottom: 30px;
}

#footer-wrapper {
width: 953px;
margin: 0 auto;
}

#subnav {
font-size: 12px;
}

#subnav li {
border-left: 1px #5a5a5a solid;
}

#subnav li a {
font-weight:normal;
}

#subnav li a:hover {
color: #cc6600;

}

#subnav-wrapper {
text-align:right;
}

#subnav-wrapper ul { 
display: inline;
}

#subnav-wrapper ul li {  
display: inline; 
list-style: none;  
background-image: none;
padding-left: 15px;
}

#subnav-wrapper ul li,#subnav-wrapper ul li a { 
font-size: 12px; 
line-height: 13px; 
}

#footer{
width: 953px;
margin: 0 auto;
padding-top: 20px;
font-size: 12px;
border-top: 1px solid #bbb;
}

#contact-mail-page {
padding-bottom: 20px;
}

#contact-mail-user {
padding-bottom: 20px;
}

#node-form {
padding-bottom: 20px;
}

#openid-user-add {
padding-bottom: 20px;
}

#user-profile-form {
padding-bottom: 20px;
}

#book-outline {
padding-bottom: 20px;
}

#user-register {
padding-bottom: 20px;
}

#user-login {
padding-bottom: 20px;
}

#user-pass {
padding-bottom: 20px;
}

#comment-form {
padding-bottom: 20px;
}

#filter-filter-1 {
padding-bottom: 20px;
}

#aggregator {
padding-bottom: 20px;
}

#notice {
font-size: 10px;
text-align:center;
margin-bottom: -10px;
}